body{
	background: black;
}

.menu a{

	text-decoration: none;
	color: red;
	font-family: Helvetica Neue, sans-serif;

}

.menu-wrapper{
	position: fixed;
	top: 0;
	right: 0;

}

.menu{
	display: flex;
	flex-direction: column;
}

