
@font-face{
	font-family: "fakt-normal"
	src: url(./fonts/FaktPro-Normal.woff);
}


body{
	background: black;
	color: red;
	overflow: hidden;
}

header, footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}


.menu a{

	text-decoration: none;
	color: red;
	padding: 0.25em 0.5em;
	font-family: "fakt-normal", helvetica, sans-serif;

}

.menu a:hover{
	background-color: rgba(188, 190, 192,0.75);
	font-style: italic;
}
#current{
	color: red;
	border: 1px solid red;
	border-radius: 5px;

}

#current:hover{
	background-color: rgba(188, 190, 192,1);
}
.menu-wrapper{
	margin-right: 1em;

}

.tools{
	cursor: pointer;
}

.tools:hover{
	filter: drop-shadow(1px 1px 1em crimson);
}

.menu{
	display: flex;
	flex-direction: column;
	visibility: hidden;
}


.show{
	visibility: visible;
}

.info-wrapper{
margin: 2em 2em 0;
}

.icon{
	width: 5vw;
}

.boop{
visibility: hidden;
width: 35vw;
}

.beep{
	visibility: visible;
}

.infoBtn{


}

.infoBtn:hover{
	cursor: pointer;

}



.sixty{
	cursor: pointer;
	margin-left: 1em;
}

.sixty:hover{
	scale:1.5;
}



.audioPlayer{
	/*position: relative;*/
	cursor: pointer;
	margin-right: 2em;
	margin-top: 2em;
	
}
.audioNote{
	width: 5vw;
	
}

.sphere{
	width: 8vw;
}

.box{
	width: 8vw;
}

img{
	display: inline-block;
	width: 100%;
}




