
@font-face{
	font-family: "fakt-normal";
	src: url(../fonts/FaktPro-Normal.woff);
}

body::-webkit-scrollbar {
  display: none;
}



body{
	background: black;
	color: red;
	overflow: hidden;
	font-family: "fakt-normal", sans-serif;

}

header, footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	

}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	align-items: center;
}


.menu a{

	text-decoration: none;
	color: red;
	padding: 0.25em 0.5em;
	font-family: "fakt-normal", helvetica, sans-serif;

}

.menu a:hover{
	background-color: rgba(188, 190, 192,0.75);
	font-style: italic;
	color: black;
	border-radius: 5px;
}
#current{
	color: red;
	border: 1px solid red;
	border-radius: 5px;

}

#current:hover{
	background-color: rgba(188, 190, 192,1);
}
.menu-wrapper{
	margin-right: 1em;

}

.tools{
	cursor: pointer;
}

.tools:hover{
	filter: drop-shadow(1px 1px 1em crimson);

}

.menu{
	display: flex;
	flex-direction: column;
	visibility: hidden;
}


.show{
	visibility: visible;
}

.info-wrapper{
margin: 2em 2em 0;
}

.icon{
	width: 5vw;
}

.boop{
visibility: hidden;
	 -webkit-transition: visibility 0.5s ease-in-out;
  -moz-transition: visibility 0.5s ease-in-out;
  -ms-transition: visibility 0.5s ease-in-out;
  transition:  visibility  0.5s ease-in-out;
width: 35vw;
margin-top: 1em;
background: rgba(0,0,0,0.75);
border: 1px solid red;
border-radius: 10px;
padding: 1em;
position: fixed;
}

.close{
	float: right;
	display: block;
}

.close:hover{
	color: grey;
}

.beep{
	visibility: visible;
}

.infoBtn{


}

.infoBtn:hover{
	cursor: pointer;

}


.sixty{
	cursor: pointer;
	margin-left: 1em;
}

.sixty:hover{
	scale:1.5;
}



.audioPlayer{
	/*position: relative;*/
	cursor: pointer;
	margin-right: 2em;
	margin-top: 2em;
	
}
.note{
	width: 5.5vw;
	
}

.sphere{
	width: 10vw;
	transition: 1s ease;
	filter: drop-shadow(0 0 5px white);
}
.sphere:hover{
	transform: rotate(360deg);
	scale:1.25;

}

.box{
	width: 8vw;
}

img{
	display: inline-block;
	width: 100%;
}


.landing{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin: 25% auto;
	font-size: 2em;
	font-family: 'fakt-normal';

}

@keyframes landing{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 100%;
	}
}

.ARpage,
.three-sixty{
	padding: 1em;
	z-index: 2;
	animation: landing 7s ease-in-out;
}

.ARpage a, 
.three-sixty a{
	text-decoration: none;
	color: red;

}

.ARpage:hover, .three-sixty:hover{

	border: 1px solid red; 
	border-radius: 10px;
	scale: 1.25;

}

#nav{
	position: fixed;
	top:0;
	right: 0;
}

@keyframes title-sequence{
	0%{
		opacity: 100%
	}

	100%{
		opacity: 0%
	}
}

.title{
	width: 100vw;
	height: 100vh;
	position: fixed;
	font-size: 8em;
	color: red;
	background: black;
	opacity: 0;
	text-align: center;
	top: 0;
	margin: 25vh auto;

	animation: title-sequence 7s ease-in-out;
}



@media only screen and (max-width: 500px){

  body{
      -webkit-overflow-scrolling: touch;
  }

  .box{
  	width: 18vw;
	margin-left: 2.5em;
  }
  .tools{
  	margin-top: 0.5em;

  }

.boop{
	width: 70vw;

}

  .icon{
  	width: 10vw;
  }

  .note{
  	width: 10vw;


  }

  .audioPlayer{
  	margin-top: 0;

  }


  .sphere{
  	width: 15vw;

  }

  .landing{
 /* 	margin: 50% auto;*/
  }
 }




